{% extends 'base.html' %}

{% from 'bootstrap5/form.html' import render_form %}


{% block content %}
<main class="flex-gow-1">
  {% for category, message in get_flashed_messages(True) %}
    <div class="alert alert-danger" role="alert">
      {{ message }}
    </div>
  {% endfor %}
  <div class="container-lg mt-3">
    <h1>Задача: {{ task.title }}</h1>
    <div class="table-responsive">
        <table class="table table-bordered table-hover text-nowrap">
          <tbody>
            <tr>
              <td>ID</td>
              <td>{{ task.id }}</td>
            </tr>
            <tr>
              <td>Имя</td>
              <td>{{ task.title }}</td>
            </tr>
            <tr>
              <td>Описание</td>
              <td>{{ task.description }}</td>
            </tr>
            <tr>
              <td>Автор</td>
              <td>{{ task.author_1.username }}</td>
            </tr>
            <tr>
              <td>Исполнитель</td>
              <td>{{ task.executor_2.username }}</td>
            </tr>
            <tr>
              <td>Дата создания</td>
              <td>{{ task.created_at }}</td>
            </tr>
            <tr>
              <td>Дата изменения</td>
              <td>{{ task.updated_at }}</td>
            </tr>
            <tr>
              <td>Статус</td>
              <td>{{ task.status.title }}</td>
            </tr>
          </tbody>
        </table>
        <a href="{{ url_for('tasks_routes.update_task', id=task.id)}}" class="btn btn-primary btn-sm" style="margin-bottom: 10px;">Изменить задачу</a>            
        <form method="POST" action="{{ url_for('tasks_routes.delete_task', id=task.id)}}">
          {{ form.hidden_tag() }}
          <input type="submit" value="Удалить задачу" class="btn btn-danger btn-sm" onclick="confirmDelete()">
        </form>     
        <script>
          function confirmDelete() {
              if (confirm("Вы уверены, что хотите удалить задачу?")) {
                  document.forms[0].submit();
              }
          }
        </script>
    </div>
  </div>
</main>
{% endblock %}