{% extends 'base.html' %}

{% block content %}
<main class="flex-grow-1">
  {% for category, message in get_flashed_messages(True) %}
    {% if category == 'info' %}
      <div class="alert alert-info" role="alert">
        {{ message }}
      </div>
    {% endif %}
  {% endfor %}
  <div class="container-lg mt-3">
    <div class="row">
      <div class="col-12 col-md-10 col-lg-8 mx-auto border rounded-3 bg-light p-5">
        <h1 class="display-3">Менеджер задач</h1>
        <p class="lead">Приложение управления задачами.</p><br><br>
      </div>
    </div>
  </div>
</main>
{% endblock %}